<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">가계부 등록</h2>
    </div>

    <form action="account.html" th:action th:object="${account}" method="post">
        <div th:if="${errors?.containsKey('globalError')}">
            <p class="field-error" th:text="${errors['globalError']}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="date" th:text="#{label.account.date}">날짜</label>
            <input type="text" id="date"
                   th:field="*{date}" th:class="${errors?.containsKey('date')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="날짜를 입력하세요">
            <div class="field-error" th:if="${errors?.containsKey('date')}" th:text="${errors['date']}">날짜 오류</div>
        </div>
        <div>
            <label for="type" th:text="#{label.account.type}" >타입</label>
            <input type="text" id="type"
                   th:field="*{type}" th:class="${errors?.containsKey('type')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="타입을 입력하세요">
            <div class="field-error" th:if="${errors?.containsKey('type')}" th:text="${errors['type']}">타입 오류</div>
        </div>
        <div>
            <label for="content" th:text="#{label.account.content}">내용</label>
            <input type="text" id="content"
                   th:field="*{content}" th:class="${errors?.containsKey('content')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="내용을 입력하세요">
            <div class="field-error" th:if="${errors?.containsKey('content')}" th:text="${errors['content']}">내용 오류</div>
        </div>
        <div>
            <label for="expend" th:text="#{label.account.expend}">지출</label>
            <input type="text" id="expend"
                   th:field="*{expend}" th:class="${errors?.containsKey('expend')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="지출을 입력하세요">
            <div class="field-error" th:if="${errors?.containsKey('expend')}" th:text="${errors['expend']}">지출 오류</div>
        </div>
        <div>
            <label for="income" th:text="#{label.account.income}">수입</label>
            <input type="text" id="income"
                   th:field="*{income}" th:class="${errors?.containsKey('income')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="수입을 입력하세요">
            <div class="field-error" th:if="${errors?.containsKey('income')}" th:text="${errors['income']}">수입 오류</div>
        </div>
        <div>
            <label for="balance" th:text="#{label.account.balance}">잔액</label>
            <input type="text" id="balance"
                   th:field="*{balance}" th:class="${errors?.containsKey('balance')} ? 'form-control field-error' : 'form-control'"
                   class="form-control" placeholder="잔액을 입력하세요">
            <div class="field-error" th:if="${errors?.containsKey('balance')}" th:text="${errors['balance']}">잔액 오류</div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='accounts.html'"
                        th:onclick="|location.href='@{/basic/accounts}'|" type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>