<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>가계부</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/basic/cashbook/add}'|"
                    onclick="location.href='addForm.html'"
                    type="button">추가</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>날짜</th>
                <th>타입</th>
                <th>내용</th>
                <th>지출</th>
                <th>수입</th>
                <th>잔액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cashbook : ${cashbooks}">
                <td><a th:href="@{/basic/cashbook/{cashbookId}(cashbookId=${cashbook.id})}" href="cashbook.html" th:text="${cashbook.id}">1</a></td>
                <td th:text="${cashbook.date}">날짜</td>
                <td th:text="${cashbook.type}">타입</td>
                <td th:text="${cashbook.content}">내용</td>
                <td th:text="${cashbook.expense}">지출</td>
                <td th:text="${cashbook.income}">수입</td>
                <td th:text="${cashbook.balance}">잔액</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
