<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>가계부</h2>
    </div>
    <form action="cashbooks.html" th:action method="post">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit" >삭제</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>선택</th>
                <th>ID</th>
                <th>날짜</th>
                <th>타입</th>
                <th>내용</th>
                <th>지출</th>
                <th>수입</th>
                <th>잔액</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cashbook : ${cashbooks}">
                <td><input type="checkbox" id="check" class="form-check-input" name="check" value="true">
                    <input type="hidden" name="_check" value="on"/>
                </td>
                <td th:text="${cashbook.id}" id="id">1</td>
                <td th:text="${cashbook.date}" id="date">날짜</td>
                <td th:text="${cashbook.type}" id="type">타입</td>
                <td th:text="${cashbook.content}" id="content">내용</td>
                <td th:text="${cashbook.expense}" id="expense">지출</td>
                <td th:text="${cashbook.income}" id="income">수입</td>
                <td th:text="${cashbook.balance}" id="balance">잔액</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
