<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center"> <h2>상품 수정 폼</h2>
    </div>
    <form action="account.html" th:action method="post">
        <div>
            <label for="id">ID</label>
            <input type="text" id="id" name="id" class="form-control" value="1"
                   th:value="${account.id}">
        </div>
        <div>
            <label for="date">날짜</label>
            <input type="text" id="date" name="date" class="form-control" value="06/20"
                   th:value="${account.date}">
        </div>
        <div>
            <label for="type">타입</label>
            <input type="text" id="type" name="type" class="form-control" value="식비"
                   th:value="${account.type}">
        </div>
        <div>
            <label for="content">내용</label>
            <input type="text" id="content" name="content" class="form-control" value="편의점"
                   th:value="${account.content}">
        </div>
        <div>
            <label for="expend">지출</label>
            <input type="text" id="expend" name="expend" class="form-control" value="100"
                   th:value="${account.expend}">
        </div>
        <div>
            <label for="income">수입</label>
            <input type="text" id="income" name="income" class="form-control" value="1000"
                   th:value="${account.income}">
        </div>
        <div>
            <label for="balance">잔액</label>
            <input type="text" id="balance" name="balance" class="form-control" value="900"
                   th:value="${account.balance}">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='account.html'"
                        th:onclick="|location.href='@{/basic/accounts/{id}(id=${account.id})}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
