<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/accounts/new" method="post">
    <div class="form-group">
      <label form="date">날짜</label>
      <input type="text" id="date" name="date" placeholder="날짜를 입력하세요">
      <label form="type">타입</label>
      <input type="text" id="type" name="type" placeholder="타입을 입력하세요">
      <label form="content">내용</label>
      <input type="text" id="content" name="content" placeholder="내용을 입력하세요">
      <label form="expend">지출</label>
      <input type="text" id="expend" name="expend" placeholder="지출을 입력하세요">
      <label form="income">수입</label>
      <input type="text" id="income" name="income" placeholder="수입을 입력하세요">
      <label form="balance">잔액</label>
      <input type="text" id="balance" name="balance" placeholder="잔액을 입력하세요">
    </div>
    <button type="submit">등록</button>
  </form>
</div>
</body>
</html>